--
-- PostgreSQL database dump
--

\restrict wsXPewfkfcOtMT1wsz02b09ezWvkatejJPdmm2LbkutbWQGJgq3hConNx7tSMQg

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: product_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.product_status AS ENUM (
    'processing',
    'moving',
    'completed',
    'cancelled',
    'none'
);


--
-- Name: type_message; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.type_message AS ENUM (
    'system',
    'bot',
    'operator',
    'client',
    'media'
);


--
-- Name: ws_friendly_type_message; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.ws_friendly_type_message AS ENUM (
    'bot',
    'recipient',
    'sender',
    'media'
);


--
-- Name: transliterate(text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.transliterate(text) RETURNS text
    LANGUAGE plpgsql
    AS $_$
DECLARE
    result text := '';
    ch text;
    mapping text[][] := ARRAY[
        ['╨░','a'], ['╨▒','b'], ['╨▓','v'], ['╨│','g'], ['╨┤','d'], ['╨╡','e'], ['╤С','e'],
        ['╨╢','zh'], ['╨╖','z'], ['╨╕','i'], ['╨╣','y'], ['╨║','k'], ['╨╗','l'], ['╨╝','m'],
        ['╨╜','n'], ['╨╛','o'], ['╨┐','p'], ['╤А','r'], ['╤Б','s'], ['╤В','t'], ['╤Г','u'],
        ['╤Д','f'], ['╤Е','h'], ['╤Ж','ts'], ['╤З','ch'], ['╤И','sh'], ['╤Й','sch'],
        ['╤К',''], ['╤Л','y'], ['╤М',''], ['╤Н','e'], ['╤О','yu'], ['╤П','ya']
    ];
BEGIN
    FOR i IN 1..length($1) LOOP
        ch := substring($1, i, 1);
        FOR j IN 1..array_length(mapping, 1) LOOP
            IF ch = mapping[j][1] THEN
                result := result || mapping[j][2];
                EXIT;
            END IF;
        END LOOP;
        IF ch ~ '[a-zA-Z0-9\-]' THEN
            result := result || ch;
        END IF;
    END LOOP;
    RETURN result;
END;
$_$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: pendingmessages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pendingmessages (
    id integer NOT NULL,
    user_id integer NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: pendingmessages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pendingmessages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pendingmessages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pendingmessages_id_seq OWNED BY public.pendingmessages.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    name text NOT NULL,
    description jsonb,
    photos jsonb,
    about text,
    price integer,
    short_name text,
    slug text,
    filters jsonb
);


--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name text NOT NULL,
    password character varying NOT NULL,
    date_registration timestamp with time zone DEFAULT now() NOT NULL,
    cookie character varying,
    cookie_expires timestamp with time zone DEFAULT (timezone('utc'::text, now()) + '00:05:00'::interval),
    email text,
    phone text,
    user_role character varying(50) DEFAULT 'client'::character varying NOT NULL,
    url_id character varying,
    ip character varying
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: usersproducts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usersproducts (
    users_id integer NOT NULL,
    products_id bigint NOT NULL,
    id bigint NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    status public.product_status,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: usersproducts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usersproducts ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.usersproducts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: websocketconnections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.websocketconnections (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    username text NOT NULL,
    connection_type text NOT NULL,
    connected_at timestamp with time zone DEFAULT now(),
    disconnected_at timestamp with time zone,
    ip_address character varying(50),
    user_agent text,
    is_active boolean DEFAULT false NOT NULL
);


--
-- Name: websocketconnections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.websocketconnections ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.websocketconnections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: websocketfriendlymessage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.websocketfriendlymessage (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sender text,
    recipient text,
    message text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    type_message public.type_message NOT NULL,
    is_read_message boolean NOT NULL,
    from_url_id character varying,
    to_url_id character varying
);


--
-- Name: websocketmessagehistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.websocketmessagehistory (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user_id integer,
    to_user_id integer,
    client text,
    operator text,
    message text NOT NULL,
    file_url character varying,
    mime_type character varying,
    type_message public.type_message NOT NULL,
    is_resolved boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: pendingmessages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pendingmessages ALTER COLUMN id SET DEFAULT nextval('public.pendingmessages_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
64663266c456
\.


--
-- Data for Name: pendingmessages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pendingmessages (id, user_id, message, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usersproducts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: websocketconnections; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: websocketfriendlymessage; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: websocketmessagehistory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: pendingmessages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pendingmessages_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.products_id_seq', 17, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 107, true);


--
-- Name: usersproducts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usersproducts_id_seq', 397, true);


--
-- Name: websocketconnections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.websocketconnections_id_seq', 205, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: pendingmessages pendingmessages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pendingmessages
    ADD CONSTRAINT pendingmessages_pkey PRIMARY KEY (id);


--
-- Name: websocketfriendlymessage pk_websocketfriendlymessage; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketfriendlymessage
    ADD CONSTRAINT pk_websocketfriendlymessage PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products uq_products_description; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT uq_products_description UNIQUE (description);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: users uq_users_password; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_password UNIQUE (password);


--
-- Name: users uq_users_phone; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_phone UNIQUE (phone);


--
-- Name: users uq_users_url_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_url_id UNIQUE (url_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: usersproducts usersproducts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usersproducts
    ADD CONSTRAINT usersproducts_pkey PRIMARY KEY (id);


--
-- Name: websocketconnections websocketconnections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketconnections
    ADD CONSTRAINT websocketconnections_pkey PRIMARY KEY (id);


--
-- Name: websocketmessagehistory websocketmessagehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketmessagehistory
    ADD CONSTRAINT websocketmessagehistory_pkey PRIMARY KEY (id);


--
-- Name: websocketfriendlymessage fk_websocketfriendlymessage_from_url_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketfriendlymessage
    ADD CONSTRAINT fk_websocketfriendlymessage_from_url_id_users FOREIGN KEY (from_url_id) REFERENCES public.users(url_id) ON DELETE CASCADE;


--
-- Name: websocketfriendlymessage fk_websocketfriendlymessage_to_url_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketfriendlymessage
    ADD CONSTRAINT fk_websocketfriendlymessage_to_url_id_users FOREIGN KEY (to_url_id) REFERENCES public.users(url_id) ON DELETE CASCADE;


--
-- Name: websocketmessagehistory fk_websocketmessagehistory_from_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketmessagehistory
    ADD CONSTRAINT fk_websocketmessagehistory_from_user_id_users FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: websocketmessagehistory fk_websocketmessagehistory_to_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketmessagehistory
    ADD CONSTRAINT fk_websocketmessagehistory_to_user_id_users FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pendingmessages pendingmessages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pendingmessages
    ADD CONSTRAINT pendingmessages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: usersproducts usersproducts_products_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usersproducts
    ADD CONSTRAINT usersproducts_products_id_fkey FOREIGN KEY (products_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: usersproducts usersproducts_users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usersproducts
    ADD CONSTRAINT usersproducts_users_id_fkey FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: websocketconnections websocketconnections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.websocketconnections
    ADD CONSTRAINT websocketconnections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict wsXPewfkfcOtMT1wsz02b09ezWvkatejJPdmm2LbkutbWQGJgq3hConNx7tSMQg

